/* Adjust properties of the body*/
body 
{
    background: url(../images/background.png) no-repeat center center fixed;   
    background-size: cover;
    color: white; /* Dark Mode by default */
}

/* Adjust properties of the heading */
.ucf-heading
{
    margin-top: 15px;
    margin-bottom: -120px;
}

.row
{
    text-align: center;
    font-size: 50px;
    margin-bottom: -30px;
    margin-left: auto;
    margin-right: auto;
}