ul {
    list-style: none;
}

.CreateContactForm{
    display: block;
    text-align: center;
}

h1 {
    text-align: center;
}

button {
    right: 0px;
}

header {
    display: block;
    text-align: center;
}

.login{
    display: inline;
    text-align: center;
}